<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("_NavPartial")
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  
    
    <div class="row">
        <div class="kpi-item kpi-growth">
            <div class="kpi-header">
                <h3>Total Registartions</h3>
                <p> Households</p>
            </div>
            <div class="kpi-body">
                <p class="kpi-details-tl"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAABuwAAAbsAR51ODUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAABO0lEQVQYGQXBMUsUAAAG0MehoIvDDS1BOYm0tIroj+gWuaMgKNtqEzQwjiOzoTsi6LaDClyEEAyO7kDBFqXJwcXCQRHBA4lz0ZLj6z0REW5b8tWxnraaexERIsJjfxxomvdQw66/XhqKEKHl2oJCRESouLBjKISSG1Nh0ppfTmyYDXdceBUUnauFOVe2vDBv3cBSqPjnPmU9w8ZdqkZEKBuYDbveUtcOq/YVTPjup5mwbiM0dNixEjoa4ZOIvfDMcXikR9e78M3H8EFENzz3Ozx1yhvbYdmREbe898VE2LIWmjYp6RtTdOazkQgFVVcmFRyoMupQK8w4c6Spbt+lubCg764wbaAcipZt6lo1HqZcexIiLBpoGYuIMKzmRitCRJh2qG9b3WttPedKESEiwqgHVnT80FBRjIj4DzJvr7PDjMIkAAAAAElFTkSuQmCC8a320575fc3fd7f95168a2e769af8549" /> < %26.5</span</p>
                <p class="kpi-details-tr">YTD</p>
                <p class="kpi-text green">20,000</p>
                <table class="sparkline">
                    <tr>
                        <td data-sparkline="24, 12, 26 " />
                    </tr>
                </table>
            </div>
        </div>
        <div class="kpi-item kpi-people">
            <div class="kpi-header">
                <h3>Turnover</h3>
                <p>Registration Fee</p>
            </div>
            <div class="kpi-body">
                <p class="kpi-details-tl"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAABuwAAAbsAR51ODUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAABO0lEQVQYGQXBMUsUAAAG0MehoIvDDS1BOYm0tIroj+gWuaMgKNtqEzQwjiOzoTsi6LaDClyEEAyO7kDBFqXJwcXCQRHBA4lz0ZLj6z0REW5b8tWxnraaexERIsJjfxxomvdQw66/XhqKEKHl2oJCRESouLBjKISSG1Nh0ppfTmyYDXdceBUUnauFOVe2vDBv3cBSqPjnPmU9w8ZdqkZEKBuYDbveUtcOq/YVTPjup5mwbiM0dNixEjoa4ZOIvfDMcXikR9e78M3H8EFENzz3Ozx1yhvbYdmREbe898VE2LIWmjYp6RtTdOazkQgFVVcmFRyoMupQK8w4c6Spbt+lubCg764wbaAcipZt6lo1HqZcexIiLBpoGYuIMKzmRitCRJh2qG9b3WttPedKESEiwqgHVnT80FBRjIj4DzJvr7PDjMIkAAAAAElFTkSuQmCC8a320575fc3fd7f95168a2e769af8549" /> < 10%</p>
                <p class="kpi-text green">20,000,000</p>
                <p class="kpi-details-tr">KSH</p>
                <table class="sparkline">
                    <tr>
                        <td data-sparkline="20, 7, 34, 2 " />
                    </tr>
                </table>
            </div>
        </div>
        <div class="kpi-item kpi-flawless">
            <div class="kpi-header">
                <h3>Total Registartions </h3>
                <p>Spouse And Dependants</p>
            </div>
            <div class="kpi-body">
                <p class="kpi-details-tl"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAABuwAAAbsAR51ODUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAABO0lEQVQYGQXBMUsUAAAG0MehoIvDDS1BOYm0tIroj+gWuaMgKNtqEzQwjiOzoTsi6LaDClyEEAyO7kDBFqXJwcXCQRHBA4lz0ZLj6z0REW5b8tWxnraaexERIsJjfxxomvdQw66/XhqKEKHl2oJCRESouLBjKISSG1Nh0ppfTmyYDXdceBUUnauFOVe2vDBv3cBSqPjnPmU9w8ZdqkZEKBuYDbveUtcOq/YVTPjup5mwbiM0dNixEjoa4ZOIvfDMcXikR9e78M3H8EFENzz3Ozx1yhvbYdmREbe898VE2LIWmjYp6RtTdOazkQgFVVcmFRyoMupQK8w4c6Spbt+lubCg764wbaAcipZt6lo1HqZcexIiLBpoGYuIMKzmRitCRJh2qG9b3WttPedKESEiwqgHVnT80FBRjIj4DzJvr7PDjMIkAAAAAElFTkSuQmCC8a320575fc3fd7f95168a2e769af8549" /> 99.9%</p>
                <p class="kpi-text green">15,000</p>
                <p class="kpi-details-tr">YTD</p>
                <table class="sparkline">
                    <tr>
                        <td data-sparkline="5, 10, 6, 9 " />
                    </tr>
                </table>
            </div>
        </div>
        <div class="kpi-item kpi-people">
            <div class="kpi-header">
                <h3>Total Registartions</h3>
                <p>Today</p>
            </div>
            <div class="kpi-body">
                <p class="kpi-details-tl"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAABuwAAAbsAR51ODUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAABO0lEQVQYGQXBMUsUAAAG0MehoIvDDS1BOYm0tIroj+gWuaMgKNtqEzQwjiOzoTsi6LaDClyEEAyO7kDBFqXJwcXCQRHBA4lz0ZLj6z0REW5b8tWxnraaexERIsJjfxxomvdQw66/XhqKEKHl2oJCRESouLBjKISSG1Nh0ppfTmyYDXdceBUUnauFOVe2vDBv3cBSqPjnPmU9w8ZdqkZEKBuYDbveUtcOq/YVTPjup5mwbiM0dNixEjoa4ZOIvfDMcXikR9e78M3H8EFENzz3Ozx1yhvbYdmREbe898VE2LIWmjYp6RtTdOazkQgFVVcmFRyoMupQK8w4c6Spbt+lubCg764wbaAcipZt6lo1HqZcexIiLBpoGYuIMKzmRitCRJh2qG9b3WttPedKESEiwqgHVnT80FBRjIj4DzJvr7PDjMIkAAAAAElFTkSuQmCC8a320575fc3fd7f95168a2e769af8549" /> < 10%</p>
                <p class="kpi-text green">5.34%</p>
                <p class="kpi-details-tr">YTD</p>
                <table class="sparkline">
                    <tr>
                        <td data-sparkline="20, 7, 34, 2 " />
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
  
</main>
</div>
</div>



